html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

#content-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	/* Wichtig, damit der gantt-Bereich korrekt schrumpfen kann */
}

#gantt {
	flex: 1;
	overflow: auto;
}

th.today {
	background-color: var(--bg-dark-blue);
}

td.holiday {
	background-color: var(--bg-gray);
}

td>div {
	border-radius: 0.3em;
	border-style: solid;
	border-width: 3px;
}

col.half-day {
	width: 1.2em;
}

col.today {
	width: 1.4em;
}

table {
	border-collapse: separate;
	/* wichtig für sticky */
	border-spacing: 0;
	table-layout: fixed;
}

td {
	text-align: center;
	padding: 0.1em 0 !important;
}

th:first-child,
td:first-child {
	position: sticky;
	left: 0;
	z-index: 2;
}

thead th {
	position: sticky;
	top: 0;
	z-index: 10;
}

.employee-col {
	background-color: white;
}

.month {
	background-color: var(--gray-50);
}

.date {
	background-color: var(--gray-50);
}

thead>tr#month>th:first-child {
	z-index: 11;
}