{% extends "templates/base.html" %}
{% block title %}
{{ _("Leave Dashboard") }}
{% endblock %}
{% block head %}
{{ super() }}
<style>
  {{leave_types_css}}
</style>
{% endblock %}

{% block content %}
<div id="content-container" class="container-md my-2 px-1">
  <div class="row mb-3 align-items-end justify-content-between">
    <div class="col-auto">
      <h3 class="m-0">{{ _("Leave Dashboard") }}</h3>
    </div>
    <div class="col-auto mt-1">
      <div class="row align-items-end">
        <div class="col-auto">
          <div class="form-inline">
            <label class="m-0" for="fromDate">{{_("From")}}:</label>
            <input class="form-control" type="date" id="fromDate" />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label class="m-0" for="toDate">{{_("Until")}}:</label>
            <input class="form-control" type="date" id="toDate" />
          </div>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary btn-sm primary-action mt-1" href="./app/leave/new">
            <div class="row align-items-center">
              <div class="col-auto pr-0"><svg class="icon  icon-xs" style="" aria-hidden="true">
                  <use class="" href="#icon-add"></use>
                </svg></div>
              <div class="col-auto pl-1" id="buttonText">{{_("Add {0}").format(_("Leave"))}}</div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive" id="top-scroll-wrapper" style="scrollbar-gutter: stable;">
    <div id="top-scroll-content" style="height: 11px;"></div>
  </div>
  <div class="table-responsive" id="gantt">
    <table class="table table-bordered table-sm">
      <colgroup id="ganttColgroup">
        <col style="width: 170px" />
      </colgroup>
      <thead id="ganttHeader" class="text-center">
        <tr id="month">
          <th class="employee-col" rowspan="2">
            <input class="form-control" type="text" id="employeeNameFilter" />
          </th>
        </tr>
        <tr id="day">
        </tr>
      </thead>
      <tbody id="ganttBody"></tbody>
    </table>
  </div>
</div>

<script>
  window.userLanguage =
    ("{{ current_user.language }}" || "None") === "None"
      ? "en"
      : "{{ current_user.language }}";
  window.userId = "{{ current_user.name }}"
  window.settingsJSON = `{{ settings_json }}`;
  window.leaveDataJSON = `{{ leave_data_json }}`;
  window.leaveTypesJSON = `{{ leave_types_json }}`;
  window.holidayListsJSON = `{{ holiday_lists_json }}`;
</script>
{% endblock %}
{% block footer %}
{% endblock %}